[{{location}}]
{% for host in groups['switches'] %}
{% if hostvars[host]['ansible_net_interfaces'] | select('match', '^(Gig|Eth)') | list | count  > 49  %}
{{hostvars[host]['ansible_net_hostname']}} ports=48 ansible_network_os={{hostvars[host]['ansible_net_system'] }} ansible_host={{hostvars[host]['mgmt_ip']}}
{% elif hostvars[host]['ansible_net_interfaces'] | select('match', '^(Gig|Eth)') | list | count < 30  %}
{{hostvars[host]['ansible_net_hostname']}} ports=24 ansible_network_os={{hostvars[host]['ansible_net_system']}} ansible_host={{hostvars[host]['mgmt_ip']}}
{% else %}
{{hostvars[host]['ansible_net_hostname']}} ansibke_host={{hostvars[host]['mgmt_ip']}}
{% endif %}
{% endfor %}

[switches:children]
{{location}}
